@mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap, $gap: 10px) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}
@mixin btn {
  padding: 2px 5px;
  background-color: transparent;
  color: var(--primary-hover);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-decoration: none;
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover:not(:disabled) {
      border-bottom: 2px solid var(--primary);
      color: var(--primary);
    }
  }
}
@mixin link {
  color: var(--primary);
  background-color: transparent;
  border: none;
  &:visited {
    color: var(--secondary);
  }
  @media (hover: hover) {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover:not(:disabled) {
      color: var(--accent);
    }
  }
}
@mixin container($width: 1100px) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 20px;
  @include flex($direction: column);
}
