<button
  class="icon-link"
  [ngClass]="{ active: movie().isFavorite }"
  (click)="onFavoriteToggle($event)"
>
  <i class="material-icons">favorites</i>
</button>
<img class="img" [src]="movie().posterUrl" [alt]="movie().title + ' poster'" />
<div class="content">
  <h2 class="title">
    {{ movie().title }} <span class="year">({{ movie().year }})</span>
  </h2>
  <p class="description">
    <span>{{ movie().genre }}</span>
    <span><i class="material-icons">star</i>{{ movie().rating }}</span>
  </p>
</div>
