<section class="about">
  <article class="card">
    <h2>About the project</h2>
    <p>
      This project was created as part of learning modern
      <strong>Angular 21</strong>. There is no RxJS — only clean, modern <strong>Signals</strong>.
    </p>

    <p>It demonstrates core Angular concepts such as:</p>
    <div class="wrapper">
      <ul>
        <li>Standalone Components</li>
        <li>Routing and lazy loading</li>
        <li>New template control flow</li>
        <li>Signals-based reactivity</li>
        <li>Pipes and directives</li>
        <li>Strict TypeScript mode</li>
        <li>No RxJS at all</li>
      </ul>
      <img
        src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3JneWIyejJlYXEzOHYzOWZjdzdnMW1nM2o0Z2xjd3d0YnIxaTZjdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/kGNldrILTzYKV5DvXX/giphy.gif"
        width="250"
      />
    </div>
  </article>

  <article class="card">
    <h2>Course</h2>
    <p>
      This project is based on the excellent course
      <a href="https://rs.school/angular" target="_blank" rel="noopener noreferrer" class="link"
        >Angular Course</a
      >
      by <strong>RS School</strong>.
    </p>

    <p>He makes Angular feel so simple that even dependency injection starts to look friendly.</p>
  </article>

  <article class="card, wrapper">
    <div>
      <h2>About me</h2>
      <img
        src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXB1dDR0N2lzcWFic2kxd2VkeWhoNzhzYXJlOWd3bHdtM3k0cDNmeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/MX2Qw9C1Us85WkMPWJ/giphy.gif"
        width="250"
      />
    </div>
    <div>
      <p>
        Hi! I’m <strong>Anna</strong>, a Frontend Developer who enjoys turning TypeScript errors
        into learning opportunities.
      </p>

      <p>
        I like Angular, clean architecture, and applications that compile on the first try (rare,
        but beautiful).
      </p>
      <h2>Links</h2>

      <a href="https://github.com/dzichonka" target="_blank" rel="noopener noreferrer" class="link"
        >GitHub Repository</a
      >
      <a
        href="https://www.linkedin.com/in/anna-vasilevich-frontend/"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >LinkedIn Profile</a
      >
    </div>
  </article>
</section>
