@use '../../../styles/_mixins.scss' as *;

:host {
  @include flex($direction: column, $justify: flex-start);
  min-height: 100vh;
  margin: 0;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  flex: 1;
}
