@use '../../../styles/mixins' as mixins;
:host {
  width: 100%;
  background-color: var(--background);
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  font-family: 'Oooh Baby', cursive;
  font-weight: bold;
  font-size: 40px;
  color: var(--accent);
}
.container {
  @include mixins.flex($justify: space-between);
}
.nav {
  @include mixins.flex($justify: flex-end);
}
.active {
  color: var(--accent);
}
