@use '../../../styles/mixins' as mixins;
:host {
  width: 100%;
  background-color: var(--background);
}
.container {
  @include mixins.flex($justify: space-between);
  padding-top: 20px;
  padding-bottom: 20px;
}
.row {
  @include mixins.flex();
}
.material-icons {
  color: var(--accent);
}
