<app-search
  class="search"
  [value]="movieService.search()"
  (valueChange)="movieService.updateSearch($event)"
/>
<ul class="movie-list">
  @if (movieService.isLoading()) {
    <app-loader></app-loader>
  } @else if (movieService.error()) {
    <p>Failed to load movies.</p>
  } @else if (movieService.filteredMovies().length === 0) {
    <p>No movies found.</p>
  } @else {
    @for (movie of movieService.filteredMovies(); track movie.id) {
      <li app-card [movie]="movie"></li>
    }
  }
</ul>
