@use './app/styles/mixins' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Comic+Relief:wght@400;700&family=Crafty+Girls&family=Flavors&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Julius+Sans+One&family=Manrope:wght@200..800&family=Mansalva&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oooh+Baby&family=Reenie+Beanie&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Moonrocks&display=swap');
/* Light Theme */
:root {
  --primary: #6b8e23;
  --primary-hover: #526a1d;
  --secondary: #8f9779;
  --accent: #b7a46a;
  --background: #f8f9f4;
  --surface: #ffffff;
  --text-primary: #27301d;
  --text-secondary: #66705a;
  --border: #d8dfc8;
  --shadow: 0 4px 12px rgba(76, 95, 40, 0.12);
} /* Dark Theme */
[data-theme='dark'] {
  --primary: #cef7ff;
  --primary-hover: #92c2cc;
  --secondary: #87abb2;
  --accent: #ff004c;
  --background: #11272c;
  --surface: #11353c;
  --text-primary: #a0d8e4;
  --text-secondary: #7cb2bd;
  --border: #17272b;
  --shadow: #071a1caf;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  //font-family: 'JetBrains Mono', monospace;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--surface);
  color: var(--text-primary);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.link {
  @include mixins.link();
}
.btn {
  @include mixins.btn();
}
.container {
  @include mixins.container();
}
